<!-- <p>register works!</p>

<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Register</mat-card-title>
      </mat-card-header>
  <form class="example-form">
  <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username">
          </mat-form-field>
  <mat-form-field class="example-full-width">
            <input matInput placeholder="Email">
          </mat-form-field>
  <mat-form-field class="example-full-width">
            <input matInput placeholder="Password">
          </mat-form-field>
  </mat-card-content>
  <button mat-stroked-button color="accent" class="btn-block">Register</button>
  </form>
    </mat-card>
  </div> -->

<div class="outer">
  <h2>Register</h2>
  <form (ngSubmit)="register()">
    <div class="inner">
      <label for="username">Username:</label>
      <input type="text" id="username" [(ngModel)]="user.username" name="username">
    </div>
    <br>
    <div class="inner">
      <label for="password">Email:</label>
      <input type="email" id="email" name="email">
    </div>
    <br>
    <div class="inner">
      <label for="password">Password:</label>
      <input type="password" id="password" [(ngModel)]="user.password" name="password">
    </div>
    <br>
    <button type="submit">Register</button>
  </form>
</div>
