.outer{
    max-width: fit-content;
    margin: auto;
}
.inner{
    display: flex;
    justify-content: space-between;
    width: 275px;
}

button{
    display: flex;
    margin: auto;
    margin-top: 20px;
    padding: 5px 15px;
}

h2{
    text-align: center;
}
